<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- etc… -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul>
                <li><a href="<span class="highlight">#/lev</span>">LEV</a></li>
                <li><a href="<span class="highlight">#/pex</span>">PEX</a></li>
                <li><a href="<span class="highlight">#/about</span>">About</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>