<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
    <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.password"/>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/pingdumDB</property>
    <property name="hibernate.connection.username">pingdum</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="show_sql">true</property>
    <!-- Connection Pool Size -->
    <property name="hibernate.connection.pool_size">1</property>
    <!-- org.hibernate.HibernateException: No CurrentSessionContext configured! -->
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="Status.hbm.xml"/>
    <mapping resource="Sites.hbm.xml"/>
</session-factory>
</hibernate-configuration>
