.codeBox {

}

._200 {
    background-color: #8CFFA2;
}

._500 {
    background-color: #ff9290;
}

._404 {
    background-color: #FBFF9A;
}

.statusBox {
    border: solid 1px #D0D1E3;
    border-radius: 10px;
    background-color: #ABCDE3;
}